build/*
buildSrc/build/*
gripersist/build/*
gripes-web/build/*
buildSrc/repos/*
gripes-web/repos/*
/src/
/web/
/resources/
/conf/
.gradle
cache.bin
/addons2/*
/addons/*
gripes-addons/**/bin
**/repos
/build/
.eprj

!/gripes-addons
