build/*
buildSrc/build/*
gripersist/build/*
gripes-web/build/*
buildSrc/repos/*
gripes-web/repos/*
/src/
/web/
/resources/
/conf/
.gradle
cache.bin
/addons2/*
/addons/*
gripes-addons/**/bin
gripes-addons/gripes-search/repos/
gripes-addons/gripes-search/build/
gripes-addons/gripes-auth/repos/
gripes-addons/gripes-auth/build/
**/repos
/build/
.eprj
lucene/*

!/gripes-addons
